*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Lato",sans-serif;
    color: #242439;
}



.header-container{
    background-color: white;
    height: 8rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.809);
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    display: flex;
    height: 100vh;
    
}
.sidebar{
    background-color: #524cc1;
    flex: 0 0 18%;
}
.main-section{
    background-color: rgb(243, 243, 243);
    flex: 1;
    display: flex;
    overflow: scroll;
    flex-direction: column;
}
.nav-list .nav-item {
    width: 100%;
    /* padding: 1rem; */
   
    margin-bottom: 1rem;
}
.nav-list .nav-item:last-child{
    margin: 0;
}
.nav-list .nav-item:first-child{
    margin-top: 1rem;
}
.nav-list .nav-item a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    width: 100%;
    font-size: 1.5rem;
}
.a-container{
    padding: 1rem;
    position: relative;
    z-index: 10;
}
.a-container::before{
    transform: scaleY(0);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(to right, rgb(63, 76, 160),rgb(65, 215, 248));
    transition: transform .3s ,width .4s .3s;
    z-index: -1;
}
.a-container:hover:before{
    width: 100%;
    transform: scaleY(1);
    
}
.brand{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .5rem;
}
.card{
    min-height: 30rem;
    box-shadow: 0 1rem 1rem rgba(147, 147, 147, 0.537);
    margin-top: 2rem;
    margin-left:2rem ;
    margin-right: 2rem;
    border-radius: .5rem;
    background-color: white;
}
.card-normal{
    min-height: 30rem;
    margin-top: 2rem;
    margin-left:2rem ;
    margin-right: 2rem;
    /* border-radius: 1rem; */
    background-color: white;
}
.card-normal-normal{
    min-height: 30rem;
    margin-bottom: .2rem;
    /* border-radius: 1rem; */
    background-color: white;
}
.card-normal-normal:first-child{
    margin-top: .2rem;
}
.card-appointments{
    min-height: 20rem;
    border-radius: 2rem;
    box-shadow: 0 1rem 3rem rgba(202, 202, 202, 0.891);
    /* border:.2rem solid gray; */
    flex: 1;
    cursor: pointer;
    margin:0 2rem;

}
.heading-primary{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    background: linear-gradient(to right,purple,lightblue);
    color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
}
.heading-primary::after{
    content: "";

}
.appointments-container{
    display: flex;
    width: 100%;
}




.profile-details-container{
    display: flex;
}
.profile-details{
  flex: 0 0 50%;
}
.appointments{
    flex: 1;
}
.profile-basic{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5rem;
}
.profile-basic-container{
    display: flex;
    /* flex-direction: column; */
    justify-items: center;
    align-items: center;
}
.detailed-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    margin: 0 2rem;
}
.container{
    height: 100%;
}
.heading-secondary{
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;

}
#map{
    flex: 0 0 40%;
    margin: 1rem;
    background-color: white;
    border-radius: 1rem;
}
.search-hospital-result{
    height: 40vh;
    background-color: white;
    border-radius: 1rem;
    flex: 1;
    margin-bottom: 1rem;

}
.search-result{
    background-color: rgb(224, 224, 224);
    height: 100%;
    margin: 2rem;
    overflow-y: scroll;
    
    border-radius: 1rem;
}
.search{
    outline: none;
    background: linear-gradient(to right, rgb(63, 76, 160),rgb(65, 215, 248));
    padding: 1rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1rem;
    border: none;
    box-shadow: 0 1rem 2rem rgba(81, 81, 81, 0.721);
    margin: 1rem 0;
    cursor: pointer;
}
.hospital-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}


.post-container{
    background-color: white;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    border-radius: .5rem;
    min-height: 55rem;
}

.profile-info-container{
    display: flex;
    padding-top: 5rem;
    padding-left: 5rem;
}
.doctor-info-container{
    display: flex;
    padding-top: 1rem;
    padding-left: 1rem;
}
.post-content{
    min-height: 20rem;
    background-color: rgb(230, 230, 230);
    margin: 3rem;
}
.profile-info,.doctor-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-left: 2rem;
}
.profile-info h2{
    font-size: 2rem;
}
.small{
    font-size: 1.5rem;
}
.suggestions-container{
    height: 15rem;
    background-color: rgb(229, 212, 194);
    overflow-y: scroll;
   margin-left: 3rem;
   margin-right: 3rem;
}
.suggestion-comment{
    min-height: 10rem;
    background-color: rgb(255, 255, 255);
    border-radius: .3rem;
    margin: 2rem;
}
.time{
    color: gray;
    font-size: 1rem;
    margin-top: 1rem;
}
.suggestion-content{
    width: 80%;
    min-height: 20rem;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
}
.problem-description{
  padding: 2rem;
 font-size: 2rem;
}
.book{
    display: flex;
    justify-content: space-around;
    height: 80%;
}
.how-to-book-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.how-to-book-container a,.book-appointment-button{
    color: white;
    background-color: rgb(126, 63, 160);
    text-decoration: none;
    padding: 1rem;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.how-to-book-container a:hover{
    background-color: rgb(101, 51, 128);
}
.step-item{
    list-style: none;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.step-item:first-child{
    margin-top: 1rem;
}
.heading-tertiary{
    font-size: 2rem;
}
.a-container{
 display: flex;
 align-items: center;
}
.doctor-container{
    padding: 1rem;
    display: flex;
    justify-content: center;
    margin: 2rem;
    background-color: white;
    flex-direction: column;
}
.doctor-info-container{
    display: flex;
    
}
.big{
    font-size: 1.5rem;
}
.hospital-item-container{
    background-color: white;
    margin: 2rem;
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
.hospital-info-container{
    display: flex;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
    /* cursor: pointer; */
  }

  .project-details{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: scroll;
  }
  .header-profile{
    display: flex;
    align-items: center;
  }