<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicare</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
    <script src="https://kit.fontawesome.com/c9bc7b99e6.js" crossorigin="anonymous"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBorXr-thmZ_QBMZYevAMSkNSTKe0fnUPQ&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body style="overflow: hidden;">
    <header class="header-container">
            <div class="logo">
                <img src="images/medical-symbol.png" alt="logo" heigth="50px" width="50px">
                <h2 class="brand">MediCare</h2>
            </div>
            <div class="links">
                
            </div>
            <div class="header-profile">
                <a href="/profile">
                    <div class="profile-container">
                        <img src="/images/profile.png" alt="profile-photo" heigth="50px" width="50px">
                        <h2 class="username">Anurag</h2>
                    </div>
                </a>
            </div>
    </header>
    <main class="main-container">
            <div class="sidebar">
                <nav class="navigation">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="/dashboard">
                                <div class="a-container">
                                    <i class="fas fa-home fa-2x"></i>&nbsp;Home
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/searchDoctors">
                                <div class="a-container">
                                <i class="fas fa-calendar-check fa-2x"></i>&nbsp;Book an Appointment
                            </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/labTest">
                                <div class="a-container">
                                <i class="fas fa-vial fa-2x"></i>&nbsp;Lab Test
                            </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            
                            <a href="/searchHospital">
                                <div class="a-container">
                                <i class="fas fa-hospital fa-2x"></i>&nbsp;Search Hospital Nearby
                               </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/searchResources">
                                <div class="a-container">
                                <i class="fas fa-briefcase-medical fa-2x"></i>&nbsp;Medical Resources
                            </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/feed">
                                <div class="a-container">
                                    <i class="fas fa-newspaper fa-2x"></i>&nbsp;Feed
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="main-section" style="overflow: scroll;">
             <div class="hospital-container">
                <h2 class="heading-primary">
                    Search Doctors
                </h2>
                <form action="" style="text-align: center;">
                    <select name="speciality" id="listbox">
                        <option value="physician">Physian</option>
                        <option value="cycatrist">Cycatrist</option>
                        <option value="cardiovascular">CardioVascular</option>
                        <!-- <option value="audi">Audi</option> -->
                      </select>
                    <button class ="search" style="align-self: center;">Search</button>
                </form>
                
                    <div class="search-hospital-result">
                        <h2 class="heading-primary">Doctors</h2>
                        <div class="search-result">
                            <ul class="search-result-list">
                                <li class="search-item">
                                    <div class="doctor-container">
                                        <div style="display: flex;align-items: center;justify-content: space-between;">
                                        <div class="doctor-info-container">
                                                <div class="profile-image">
                                                    <img src="/images/profile.png" alt="profile-photo" width="100px" height="100px">
                                                </div>
                                                <div class="profile-info">
                                                    <h2 class="heading-post">Anurag</h2>
                                                    <p class="big">Speciality : Cardiovascular</p>
                                                </div>
                                        
                                        </div>
                                        <div class="rating">
                                            <h2 class="big">Ratings</h2>
                                            <img src="/images/star.png" alt="star" width="20px" height="20px">
                                            <img src="/images/star.png" alt="star" width="20px" height="20px">
                                            <img src="/images/star.png" alt="star" width="20px" height="20px">
                                            <img src="/images/star.png" alt="star" width="20px" height="20px">
                                            <img src="/images/star (1).png" alt="star" width="20px" height="20px">
                                            <p class="small">4.0/5.0</p>
                                        </div>

                                    </div>
                                        <button class="book-appointment-button" type="submit" >Book an Appointment</button>
                                    </div>
                                </li>
                                <li class="search-item">
                                    <div class="doctor-container">
                                        <div style="display: flex;align-items: center;justify-content: space-between;">
                                        <div class="doctor-info-container">
                                                <div class="profile-image">
                                                    <img src="/images/profile.png" alt="profile-photo" width="100px" height="100px">
                                                </div>
                                                <div class="profile-info">
                                                    <h2 class="heading-post">Anurag</h2>
                                                    <p class="big">Speciality : Cardiovascular</p>
                                                </div>
                                        
                                        </div>
                                        <div class="rating">
                                            <h2 class="big">Ratings</h2>
                                            <img src="/images/star.png" alt="star" width="20px" height="20px">
                                            <img src="/images/star.png" alt="star" width="20px" height="20px">
                                            <img src="/images/star.png" alt="star" width="20px" height="20px">
                                            <img src="/images/star.png" alt="star" width="20px" height="20px">
                                            <img src="/images/star (1).png" alt="star" width="20px" height="20px">
                                            <p class="small">4.0/5.0</p>
                                        </div>

                                    </div>
                                        <button class="book-appointment-button" type="submit" >Book an Appointment</button>
                                    </div>
                                </li>
                                <li class="search-item">
                                    <div class="doctor-container">
                                        <div style="display: flex;align-items: center;justify-content: space-between;">
                                        <div class="doctor-info-container">
                                                <div class="profile-image">
                                                    <img src="/images/profile.png" alt="profile-photo" width="100px" height="100px">
                                                </div>
                                                <div class="profile-info">
                                                    <h2 class="heading-post">Anurag</h2>
                                                    <p class="big">Speciality : Cardiovascular</p>
                                                </div>
                                        
                                        </div>
                                        <div class="rating">
                                            <h2 class="big">Ratings</h2>
                                            <img src="/images/star.png" alt="star" width="20px" height="20px">
                                            <img src="/images/star.png" alt="star" width="20px" height="20px">
                                            <img src="/images/star.png" alt="star" width="20px" height="20px">
                                            <img src="/images/star.png" alt="star" width="20px" height="20px">
                                            <img src="/images/star (1).png" alt="star" width="20px" height="20px">
                                            <p class="small">4.0/5.0</p>
                                        </div>

                                    </div>
                                        <button class="book-appointment-button" type="submit" >Book an Appointment</button>
                                    </div>
                                </li>
                                <li class="search-item">
                                    <div class="doctor-container">
                                        <div style="display: flex;align-items: center;justify-content: space-between;">
                                        <div class="doctor-info-container">
                                                <div class="profile-image">
                                                    <img src="/images/profile.png" alt="profile-photo" width="100px" height="100px">
                                                </div>
                                                <div class="profile-info">
                                                    <h2 class="heading-post">Anurag</h2>
                                                    <p class="big">Speciality : Cardiovascular</p>
                                                </div>
                                        
                                        </div>
                                        <div class="rating">
                                            <h2 class="big">Ratings</h2>
                                            <img src="/images/star.png" alt="star" width="20px" height="20px">
                                            <img src="/images/star.png" alt="star" width="20px" height="20px">
                                            <img src="/images/star.png" alt="star" width="20px" height="20px">
                                            <img src="/images/star.png" alt="star" width="20px" height="20px">
                                            <img src="/images/star (1).png" alt="star" width="20px" height="20px">
                                            <p class="small">4.0/5.0</p>
                                        </div>

                                    </div>
                                        <button class="book-appointment-button" type="submit" >Book an Appointment</button>
                                    </div>
                                </li>
                        
                            </ul>
                        </div>
                    </div>
             </div>
        </div>
    </main>
</body>
</html>