<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicare</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">
    <script src="https://kit.fontawesome.com/c9bc7b99e6.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body style="overflow: hidden;">
    <header class="header-container">
            <div class="logo">
                <img src="images/medical-symbol.png" alt="logo" heigth="50px" width="50px">
                <h2 class="brand">MediCare</h2>
            </div>
            <div class="links">
                
            </div>
            <div class="header-profile">
                <a href="/profile">
                <div class="profile-container">
                    <img src="/images/profile.png" alt="profile-photo" heigth="50px" width="50px" style="align-self: stretch;">
                    <h2 class="username"></h2>Anurag</h2>
                </div>
            </a>
            </div>
    </header>
    <main class="main-container">
            <div class="sidebar">
                <nav class="navigation">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="/dashboard">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="">Book an Appointment</a>
                        </li>
                        <li class="nav-item">
                            <a href="/labTest">Lab Test</a>
                        </li>
                        <li class="nav-item">
                            <a href="/searchHospital">Search Hospital Nearby</a>
                        </li>
                        <li class="nav-item">
                            <a href="/searchResources">Medical Resources</a>
                        </li>
                        <li class="nav-item">
                            <a href="/feed">Feed</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="main-section" style="overflow:scroll;height: 100vh;">
                <h2 class="heading-primary">Feed</h2>
                <ul class="post-list">
                    <li class="post-item" >
                        <div class="post-container">
                            <div class="profile-info-container">
                                <div class="profile-image">
                                    <img src="/images/profile.png" alt="profile-photo" width="100px" height="100px">
                                </div>
                                <div class="profile-info">
                                    <h2 class="heading-post">Anurag</h2>
                                    <p class="small">anuragcooldavkh@gmail.com</p>
                                    <p class="time">12:00 AM 09:34:15</p>
                                </div>
                            </div>
                            <div class="post-content">
                                <p class="problem-description">
                                    Is it normal to have a Fever and headache simualtaneously.
                                </p>
                            </div>
                            <div class="suggestions-container">
                                <ul class="suggestion-list">
                                    <li class="suggestion-item">
                                        <div class="suggestion-comment">
                                            <div class="doctor-info-container">
                                                <div class="doctor-image">
                                                    <img src="/images/doctor.png" alt="profile-photo" width="50px" height="50px">
                                                </div>
                                                <div class="doctor-info">
                                                    <h2 class="heading-post">Anurag</h2>
                                                    <p class="small">MBBS,Phd</p>
                                                </div>   
                    
                                        </div>
                                        <div class="suggestion-content">
                                                    
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="post-item">
                        <div class="post-container">
                            <div class="profile-info-container">
                                <div class="profile-image">
                                    <img src="/images/profile.png" alt="profile-photo" width="100px" height="100px">
                                </div>
                                <div class="profile-info">
                                    <h2 class="heading-post">Anurag</h2>
                                    <p class="small">anuragcooldavkh@gmail.com</p>
                                </div>
                            </div>
                            <div class="post-content">
        
                            </div>
                            <div class="suggestions-container">
                                    <ul class="suggestion-list">
                                        <li class="suggestion-item">
                                            <div class="suggestion-comment">
                                                <div class="doctor-info-container">
                                                    <div class="doctor-image">
                                                        <img src="/images/doctor.png" alt="profile-photo" width="50px" height="50px">
                                                    </div>
                                                    <div class="doctor-info">
                                                        <h2 class="heading-post">Anurag</h2>
                                                        <p class="small">MBBS,Phd</p>
                                                    </div>  
                                            </div>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </li>
                    <li class="post-item">
                        <div class="post-container">
                            <div class="profile-info-container">
                                <div class="profile-image">
                                    <img src="/images/profile.png" alt="profile-photo" width="100px" height="100px">
                                </div>
                                <div class="profile-info">
                                    <h2 class="heading-post">Anurag</h2>
                                    <p class="small">anuragcooldavkh@gmail.com</p>
                                </div>
                            </div>
                            <div class="post-content">
        
                            </div>
                            <div class="suggestions-container">
                                    <ul class="suggestion-list">
                                        <li class="suggestion-item">
                                            <div class="suggestion-comment">
                                                <div class="doctor-info-container">
                                                    <div class="doctor-image">
                                                        <img src="/images/doctor.png" alt="profile-photo" width="50px" height="50px">
                                                    </div>
                                                    <div class="doctor-info">
                                                        <h2 class="heading-post">Anurag</h2>
                                                        <p class="small">MBBS,Phd</p>
                                                    </div>  
                                            </div>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                
                </div>
    </main>
</body>
</html>