<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicare - All in one Medical Facility online</title>
</head>
<body style="display: flex; flex-direction: column;justify-content: center;height: 100vh;align-items: center;">
    <div>
    <form action="/register/patient" method="POST">
        <h2>Patient Register</h2>
            <input type="text" placeholder="name" required name="name">
            <input type="text" placeholder="email" required name="username">
            <input type="password" placeholder="password" required name="password">
            <input type="date" placeholder="dob" required name="dob">
            <input type="text" placeholder="bloodgroup" required name="bloodgroup">
            <input type="text" placeholder="gender" required name="gender">
            <button type="submit">Submit</button>
    </form>

    <form action="/register/doctor" method="POST">
        <h2>Doctor Register</h2>
            <input type="text" placeholder="name" required name="name">
            <input type="text" placeholder="email" required name="username">
            <input type="password" placeholder="password" required name="password">
            <input type="text" placeholder="gender" required name="gender">
            <input type="text" placeholder="qualification" required name="qualification">
            <select name="speciality" id="listbox">
                <% speciality.forEach(function(item){ %>
                    <option value="<%=item.speciality%>"><%=item.speciality%></option>
                    <% }) %>
              </select>


            <button type="submit">Submit</button>
    </form>

    <form action="/login/patient" method="POST">
        <h2>Patient Login</h2>
            <input type="text" placeholder="username" required name="username">
            <input type="password" placeholder="password" required name="password">
            <button type="submit">Submit</button>
    </form>

    <form action="/login/doctor" method="POST">
        <h2>Doctor Login</h2>
            <input type="text" placeholder="username" required name="username">
            <input type="password" placeholder="password" required name="password">

            <button type="submit">Submit</button>
    </form>
</div>


</body>
</html>



    
<!-- </body>
</html> 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicare - All in one Medical Facility online</title>
    <script src="https://kit.fontawesome.com/c9bc7b99e6.js" crossorigin="anonymous"></script>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 0; */
}
.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    color: white;
}
.nav-list li{
   list-style: none;
   padding: 26px 30px;
}
.nav-list li a{
  text-decoration: none;
  color: white;
}
.right-nav{
    /* background-color: blueviolet; */
    width: 50%;
    /* height: 50%; */
    text-align: right;
    margin-right: 4px;
}
/* .right-nav .link{
    margin-right: 4px;
} */
.right-nav a{
    /* padding: 4px 4px; */
    color: black;
    margin: 4px 4px;
    font-size: 20px;
}
.container{
    display: grid;
    grid-template-columns: 4fr 4fr;
    margin-top: 28px;
    grid-column-gap: 4px;
}
.item{
    border: 2px solid black;
    background-color: rgb(223, 205, 205);
    padding: 224px 84px;
    text-align: center;
}
.popup{
    background: rgba(0, 0, 0,0.6); 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.popup2{
    background: rgba(0, 0, 0,0.6); 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.pop-content{
    height: 250px;
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.pop1-content{
    height: 620px;
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.signup{
    background: cyan;
    padding: 40px;
    width: 240px;

    margin-top: 90px;
    height: 580px;
    margin: 0 auto;
}
.signup h2{
    margin-bottom: 18px;
    text-align: center;
}
form{
    text-align: center;
}
.medical{
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: white;
}
.signup input[name=gender]{
    padding: 0px 2px;
}
.signup input[type=date]{
    color: black;
}
input[type=button]{
    border: none;
    width: 200px;
    background: white;
    color: black;
    font-size: 18px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
    line-height: 25px;
}
input[type=radio]{
    color: white;
}
input[type=button]:hover{
    color: white;
    background-color: black;
}
h2{
    color: black;
}
.signup input::placeholder{
    color: black;
    /* opacity: 0.8; */
}
.login input{
    margin: 20px auto;
    display: block;
    font-size: 20px;
    padding: 10px 0;
}
.login input::placeholder{
    color: black;
}
.button{
    border: 2px solid black;
    background: rgb(230, 235, 165);
    color: rgb(67, 13, 117);
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 20px 0;
}
.close{
    position: absolute;
    top: -15px;
    right: -10px;
    color: white;
    cursor: pointer;
}
.doctor-signup{
    background: cyan;
    width: 250px;
    height: 480px;
    text-align: center;
    margin: 20px auto;
    display: block;
}
.doctor-signup input[name=gender]{
    padding: 0px 2px;
}
.popup3{
    background: rgba(0, 0, 0,0.6); 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.doctor-signup h2{
    margin-bottom: 10px;
}
.doctor-signup input{
    border: none;
    border-bottom: 2px solid white;
    font-size: 18px;
    font-weight: 200px;
    outline: none;
    padding: 10px 0;
    background: transparent;
    text-align: center;
}
.doctor-signup a{
    border: 2px solid black;
    font-size: 18px;
    padding: 8px 8px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 15px;
}
.doctor-signup select{
    font-size: 18px;
}
.doctor-signup input::placeholder{
    color: black;
}
.popup4{
    background: rgba(0, 0, 0,0.6); 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pop2-content{
    height: 250px;
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.doc{
    margin-top: 28px;
}
.open{
    position: absolute;
    top: -15px;
    right: -10px;
    color: white;
    cursor: pointer;
}
</style>
<body style="font-family: 'Lato',sans-serif">
    <nav class="navbar">
        <ul class="nav-list">
            <div class="logo"><img src="" alt="Medicare"></div>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Contact US</a></li>                       
        </ul>
        <div class="right-nav">
            <a  style="text-decoration:none" class="link" id="btn" href="#">Log In</a>
            <a  style="text-decoration:none" class="link1" id="btn1" href="#">Sign Up</a>
        </div>
    </nav> 
    <div class="container">
        <div class="item">item-1</div>
        <div class="item">item-2</div>
    </div>
    <div class="popup">
        <div class="pop-content">
            <h2>Log In</h2>
            <div class="login" style="text-align: center;">
                <i class="far fa-times-circle close"></i>
                <form  action="/login/patient" method="POST">
                <input type="text" placeholder="UserName" name="username">
                <input type="password" placeholder="Password" name="password">
                <button class="button" type="submit">Login</button>
                </form>
                <div class="doc">
                For Doctor<a href="#" class="link3" id="btn3">Doctor</a>
                </div>
            </div>
        </div>
    </div>
    <div class="popup4">
        <div class="pop2-content">
            <h2>Log In</h2>
            <div class="login">
                <i class="far fa-times-circle open"></i>
                <form action="/login/patient" method="POST">
                    <input type="text" placeholder="UserName" name="username">
                    <input type="password" placeholder="Password" name="password">
                    <button class="button" type="submit">Login</button>
                    </form>
            </div>
        </div>
    </div>

    <div class="popup2">

            <div class="signup">
                <i class="far fa-times-circle close"></i>

                    <h2>Sign Up</h2>
                    <form action="/register/patient" method="POST">
                    <!-- <input type="text" name="username" placeholder="Last Name"><br><br> -->
                    <!-- <input type="text" name="name" placeholder="Name" class="medical"><br><br>
                    <input type="text" name="username" placeholder="Email Address" class="medical"><br><br>
                    <input type="date" name="dob" placeholder="Date of Birth" min="1998-01-01" class="medical"><br><br>
                    <input type="text" name="bloodgroup" placeholder="Blood Group" class="medical"><br><br> -->
                    <!-- <input type="number" name="phone" placeholder="Contact" class="medical"><br><br><br> -->
                    <!-- Gender: <input type="radio" name="gender" value="male">Male
                            <input type="radio" name="gender" value="female">Female<input type="radio" name="gender" value="female">Other
                        <br><br> -->
                    <!-- <input type="password" name="password" placeholder="Password" class="medical"><br><br> -->
                    <!-- <input type="password" name="password" placeholder="COnfirm Password" class="medical"><br><br> -->
                    <!-- <button type="submit" >Login</button> -->
                <!-- </form> -->
                    <!-- <div id="msg">Congratulations for sign up</div> -->
                    <!-- For Doctor<a href="#" class="link2" id="btn2">Doctor</a>  -->

                        <!-- </div > -->
    <!-- </div>
    <div class="popup3">
    <div class="doctor-signup">
        <i class="far fa-times-circle close"></i>
        <h2>Sign Up</h2>
          <input type="text" name="name" placeholder="UserName"><br><br>
          <input type="text" name="email" placeholder="Email"><br><br>
          Gender: <input type="radio" name="gender" value="male">Male<input type="radio" name="gender" value="male">Female<input type="radio" name="gender" value="male">Other
          <br><br>
          <select name="format" id="format">
          <option selected disabled>Specialty</option>
          <option value="Physician">PHYSICIAN</option>
          <option value="Surgeon">SURGEON</option>
          <option value="phsyciatrist">PHSYCIATRIST</option>
        </select><br><br>
        <input type="number" name="phone" placeholder="Contact"><br><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <input type="password" name="password" placeholder="Confirm Password"><br><br>
        <a href="#" type="button">Sign Up</a>
    </div>
</div> -->
<!-- <div class="login-box">
    <h1>Log In</h1>
    <div class="test-box">
        <input type="text" placeholder="UserName" name="" value="">
    </div>
    <div class="test-box">
        <input type="password" placeholder="Password" name="" value="">
    </div>
    <input type="button" class="btn4" name="" value="Sign In">
</div> -->
    <!-- <script>
        document.getElementById('btn').addEventListener("click",()=>{
            document.querySelector('.popup').style.display = "flex";
        })
        document.getElementById('btn1').addEventListener("click",()=>{
            document.querySelector('.popup2').style.display = "flex";
        })
        document.querySelector('.close').addEventListener('click',()=>{
            document.querySelector('.popup').style.display="none";
        })
        document.getElementById('btn2').addEventListener('click',()=>{
            document.querySelector('.popup3').style.display = "flex";
        })
        document.getElementById('btn2').addEventListener('click',()=>{
            document.querySelector('.popup2').style.display = "none";
        })
        document.getElementById('btn3').addEventListener('click',()=>{
            document.querySelector('.popup4').style.display = "flex";
        })
        document.querySelector('.open').addEventListener('click',()=>{
            document.querySelector('.popup4').style.display="none";
        })
    </script>
</body >
</html >  -->
 <!-- ProTip! Use  -->