<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicare</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header-container">
            <div class="logo">
                <img src="images/medical-symbol.png" alt="logo" heigth="50px" width="50px">
                <h2 class="brand">MediCare</h2>
            </div>
            <div class="links">
                
            </div>
            <div class="header-profile">
                <a href="/profile">
                    <div class="profile-container">
                        <img src="/images/profile.png" alt="profile-photo" heigth="50px" width="50px">
                        <h2 class="username">Anurag</h2>
                    </div>
                </a>
            </div>
    </header>
    <main class="main-container">
            <div class="sidebar">
                <nav class="navigation">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="/dashboard">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="">Book an Appointment</a>
                        </li>
                        <li class="nav-item">
                            <a href="/labTest">Lab Test</a>
                        </li>
                        <li class="nav-item">
                            <a href="/searchHospital">Search Hospital Nearby</a>
                        </li>
                        <li class="nav-item">
                            <a href="/searchResources">Medical Resources</a>
                        </li>
                        <li class="nav-item">
                            <a href="/feed">Feed</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="main-section">

            </div>
    </main>
</body>
</html>