<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicare</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">
    <script src="https://kit.fontawesome.com/c9bc7b99e6.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body style="overflow: hidden;">
    <header class="header-container">
            <div class="logo">
                <img src="images/medical-symbol.png" alt="logo" heigth="50px" width="50px">
                <h2 class="brand">MediCare</h2>
            </div>
            <div class="links">
                
            </div>
            <div class="header-profile">
                <a href="/profile">
                    <div class="profile-container">
                        <img src="/images/profile.png" alt="profile-photo" heigth="50px" width="50px">
                        <h2 class="username">Anurag</h2>
                    </div>
                </a>
            </div>
    </header>
    <main class="main-container">
            <div class="sidebar">
                <nav class="navigation">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="/dashboard">
                                <div class="a-container">
                                    <i class="fas fa-home fa-2x"></i>&nbsp;Home
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/searchDoctors">
                                <div class="a-container">
                                <i class="fas fa-calendar-check fa-2x"></i>&nbsp;Book an Appointment
                            </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/labTest">
                                <div class="a-container">
                                <i class="fas fa-vial fa-2x"></i>&nbsp;Lab Test
                            </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            
                            <a href="/searchHospital">
                                <div class="a-container">
                                <i class="fas fa-hospital fa-2x"></i>&nbsp;Search Hospital Nearby
                               </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/searchResources">
                                <div class="a-container">
                                <i class="fas fa-briefcase-medical fa-2x"></i>&nbsp;Medical Resources
                            </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/feed">
                                <div class="a-container">
                                    <i class="fas fa-newspaper fa-2x"></i>&nbsp;Feed
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="main-section">

            </div>
    </main>
</body>
</html>